<div class="main-content">
  <div class="log-page">
    <div class="log-part">
      <mat-card class="log-card">
        <mat-card-title>Heading</mat-card-title>
        <mat-card-subtitle>Let’s talk a little about what symptoms a slow computer can have.</mat-card-subtitle>
        <mat-card-actions>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput>
          </mat-form-field>

          <button mat-stroked-button class="subscribe-button">Subscribe</button>
        </mat-card-actions>

        <mat-card-footer>No spam, notifications only about new products, updates and freebies.
        </mat-card-footer>
      </mat-card>
    </div>
    <img src="../../assets/img/log-img.png" alt="log-img">
  </div>

  <section class="section-star">
    <img src="../../assets/img/ball-star.png" alt="ball with star" class="star-ball">
    <div class="star-text">
      Over 92% of computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall utility and even when it is it almost always leaves broken Windows Registry keys behind it. Even if you have an anti-spyware tool your Windows Registry might be broken.
    </div>
  </section>

  <section class="section-one-line">
    <mat-list role="list" class="one-list">
      <mat-list-item role="listitem">
        <div class="one-list-title">
          <img src="../../assets/img/small-ball-star.png" alt="small ball with star">One line header
        </div>
        <div class="one-list-text">
          Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall utility.
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="one-list-title">
          <img src="../../assets/img/small-ball-star.png" alt="small ball with star">One line header
        </div>
        <div class="one-list-text">
          Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall utility.
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="one-list-title">
          <img src="../../assets/img/small-ball-star.png" alt="small ball with star">One line header
        </div>
        <div class="one-list-text">
          Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall utility.
        </div>
      </mat-list-item>
    </mat-list>

    <img src="../../assets/img/abstract-img.jpg" alt="abstract" class="one-list-img">
  </section>

  <section class="circle-statistic">
    <div class="circle"></div>
    <div class="points-list">
      <div class="point-item">
        <div class="point"></div>
        <div class="percent">
          <span class="percent-number">28%</span>
          <span class="percent-name">Downloads</span>
        </div>
      </div>
      <div class="point-item">
        <div class="point"></div>
        <div class="percent">
          <span class="percent-number">22%</span>
          <span class="percent-name">Users</span>
        </div>
      </div>
      <div class="point-item">
        <div class="point"></div>
        <div class="percent">
          <span class="percent-number">37%</span>
          <span class="percent-name">Subscribers</span>
        </div>
      </div>
      <div class="point-item">
        <div class="point"></div>
        <div class="percent">
          <span class="percent-number">13%</span>
          <span class="percent-name">Products</span>
        </div>
      </div>
    </div>
    <div class="description">
      The quality of today’s video game was not at all there when video game first conceptualized and played ever. During the formulative years, video games were created by using various interactive electronic devices with various display.
      <p class="note">
        Video games were created by using various interactive electronic devices with various display.
      </p>
    </div>
  </section>


</div>
