:host {
  .log-page {
    width: 100%;
    height: 92vh;
    display: flex;
    position: relative;
    border-bottom: 1px solid #dbdbdb;

    .log-part {
      width: 50%;
      display: flex;
      margin-top: 10rem;
      margin-left: 15rem;

      .mat-card.log-card {
        width: 445px;
        height: 30rem;
        box-shadow: none;

        .mat-card-title {
          line-height: 60px;
          font: {
            size: 48px;
            weight: 700;
          }
        }

        .mat-card-subtitle {
          line-height: 30px;
          color: #585757;
          margin-top: 20px;
          font: {
            size: 20px;
            weight: 400;
          }
        }

        .mat-card-actions {
          .mat-form-field {
            width: 100%;
          }

          ::ng-deep {
            .mat-form-field-appearance-outline .mat-form-field-outline-thick {
              color: #24afb5;
            }
            .mat-form-field.mat-focused .mat-form-field-label{
              color: #24afb5;
            }
          }

          .subscribe-button {
            background-color: #24afb5;
            height: 50px;
            width: 130px;
            color: #ffffff;
            margin: 0;
            line-height: 26px;
            font: {
              size: 20px;
              weight: 500;
              style: normal;
            };
            transition: all ease-in-out 0.4s;

            &:hover {
              background-color: #c6f7fa;
              color: #585757;
            }
          }
        }

        .mat-card-footer {
          color: #969696;
          padding: 0 8px;
          line-height: 18px;
          font: {
            size: 13px;
            weight: 400;
            style: normal;
          }
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .section-star {
    width: 100%;
    height: 460px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;

    .star-ball {
      margin: 110px 0 30px;
    }

    .star-text {
      padding: 0 335px;
      line-height: 30px;
      font: {
        size: 20px;
        weight: 400;
        style: normal;
      };
    }
  }

  .section-one-line {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #dbdbdb;

    .one-list {
      width: 450px;
      padding-top: 10px;

      .mat-list-item {
        display: initial;

        ::ng-deep {
          .mat-list-item-content {
            display: block;
            height: auto;
          }

          .one-list-title {
            display: flex;
            align-items: center;
            color: #1c1c1c;
            line-height: 32px;
            margin-top: 40px;
            font: {
              size: 24px;
              weight: 500;
              style: normal;
            }

            img {
              margin-right: 15px;
            }
          }

          .one-list-text {
            margin-top: 10px;
            line-height: 22px;
            color: #545454;
            font: {
              size: 15px;
              weight: 400;
              style: normal;
            }
          }
        }
      }
    }

    img.one-list-img {
      width: 635px;
      height: 400px;
    }
  }

  .circle-statistic {
    height: 480px;
    border-bottom: 1px solid #dbdbdb;

  }

}

