:host {
  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 30px;
    ::ng-deep {
      .mat-toolbar-row, .mat-toolbar-single-row {
        background-color: #ffffff;
        width: auto;
        align-items: center;
        .mat-list-item.menu-item {
          margin-right: 30px;
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          color: #1c1c1c;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          &:hover {
            color: #999999;
          }
          &.active {
            color: #24afb5;
          }
        }
      }
    }
    .header-buttons {
      display: flex;
      align-items: center;

      .header-link {
        color: #24afb5;
        line-height: 22px;
        text-decoration: none;
        margin-right: 26px;
        font: {
          size: 15px;
          weight: 600;
        };
      }
      .header-button {
        background-color: #24afb5;
        color: #ffffff;
        width: 102px;
        height: 38px;
        align-items: center;
        transition: all ease-in-out 0.2s;
        font: {
          size: 15px;
          weight: 500;
        };
        &:hover {
          background-color: #c6f7fa;
          color: #585757;
          .mat-icon {
            border-color: #585757;
          }
        };
        .mat-icon {
          margin-top: 0.2rem;
          width: 12px;
          height: 12px;
          border: 3px solid #ffffff;
          border-radius: 3px;
          margin-left: 0.5rem;
          margin-bottom: 5px;
          transition: all ease-in-out 0.2s;
        }
      }
    }
  }

  .main-content {
    .welcome-page {
      height: calc(100vh - 133px);
      border-bottom: 1px solid #dbdbdb;
      .welcome-page-main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 90px auto;
        &>* {
          width: 40vw;
        }
        .welcome-page-content {
          .welcome-page-title {
            color: #1c1c1c;
            line-height: 50px;
            font: {
              size: 48px;
              weight: 700;
            };
          }
          .welcome-page-description {
            color: #585757;
            line-height: 30px;
            font: {
              size: 20px;
              weight: 400;
            };
          }
          .welcome-page-button {
            width: 100px;
            height: 50px;
            background-color: #24afb5;
            color: #ffffff;
            font: {
              size: 20px;
              weight: 500;
            };
          }
        }
      }
      .welcome-page-footer {
        color: #666666;
        margin: 0 145px;
        .footer-title {
          text-transform: uppercase;
          color: #969696;
          font: {
            size: 13px;
            weight: 400;
          };
        }
        .footer-logotypes {
          justify-content: space-between;
          display: flex;
          align-items: center;
          font: {
            size: 34px;
            weight: 700;
          };
          .footer-logotypes-linkedin {
            display: flex;
            align-items: center;
            svg {g {transition: all ease-in-out 0.2s;}}
          }
          p {
            transition: all ease-in-out 0.2s;
          }
          &>*:hover {
            color: #24afb5;
            svg {g {fill: #24afb5}}
          }
        }
      }
    }

    .notebook {
      height: auto;
      display: flex;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #dbdbdb;
      .notebook-description {
        padding: 80px 140px;
        .description-forehead {
          text-transform: uppercase;
          color: #1c1c1c;
          line-height: 14px;
          font: {
            size: 13px;
            weight: 700;
          };
        }
        .description-title {
          margin: 20px 0;
          color: #1c1c1c;
          line-height: 60px;
          font: {
            size: 48px;
            weight: 700;
          };
        }
        .description-text {
          margin-bottom: 20px ;
          color: #585757;
          line-height: 30px;
          font: {
            size: 20px;
            weight: 400;
          };
        }
        .description-links {
          text-decoration: none;
          color: #24afb5;
          line-height: 26px;
          font: {
            size: 20px;
            weight: 600;
          };
        }
      }
    }

    .subscribe {
      padding: 110px 145px 115px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px solid #dbdbdb;
      .subscribe-content {
        .subscribe-content-title {
          color: #1c1c1c;
          line-height: 32px;
          font: {
            size: 24px;
            weight: 600;
          };
        }
        .subscribe-content-text {
          color: #585757;
          line-height: 22px;
          font: {
            size: 15px;
            weight: 400;
          };
        }
      }
      .form-subscribe {
        .form-subscribe-input {
          width: 390px;
        }
        .form-subscribe-btn {
          background-color: #24afb5;
          color: #ffffff;
          line-height: 26px;
          padding: 11px 16px;
          margin-left: 20px;
          font: {
            size: 20px;
            weight: 500;
          };
          transition: all ease-in-out 0.4s;
          &:hover {
            background-color: #c6f7fa;
            color: #585757;
          }
        }
        ::ng-deep {
          .form-subscribe-input.mat-form-field-appearance-outline .mat-form-field-outline-thick {
            color: #24afb5;
          }
          .form-subscribe-input.mat-form-field.mat-focused .mat-form-field-label{
            color: #24afb5;
            padding-bottom: 5px;
          }
          .form-subscribe-input.mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5rem 0 1rem 0;
          }
        }
      }
    }

    .devices {
      height: 740px;
      display: flex;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      .devices-content {
        width: 50vw;
        padding-left: 15vw;
        .devices-content-title {
          margin: 30px 0;
          color: #1c1c1c;
          line-height: 60px;
          font: {
            size: 48px;
            weight: 700;
          };
        }
        .devices-content-text {
          color: #585757;
          line-height: 30px;
          font: {
            size: 20px;
          };
        }
        .devices-content-buttons {
          margin: 40px 0 20px;
          .apple-btn {
            margin-right: 1rem;
          }
          &>* {
            transition: all ease-in-out 0.2s;
          }
          &>*:hover {
            opacity: 0.5;
            cursor: pointer;
          }
        }
        .devices-content-footer {
          color: #969696;
          line-height: 18px;
          font: {
            size: 13px;
          };
        }
      }
      .devices-img {
        position: absolute;
        bottom: 0;
        right: 15vw;
      }
    }

    .carousel {
      text-align: center;
      padding: 110px 0;
      border-bottom: 1px solid #dbdbdb;
      .product-item {
        .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
        }
        .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }
      }
    }

    .section-with-button {
      padding: 110px 145px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section-with-button-title {
        color: #1c1c1c;
        line-height: 47px;
        font: {
          size: 36px;
          weight: 700;
        };
      }
      .section-with-button-title-btn {
        background-color: #24afb5;
        color: #ffffff;
        width: 102px;
        height: 38px;
        transition: all ease-in-out 0.2s;
        font: {
          size: 15px;
          weight: 500;
        };
        &:hover {
          background-color: #c6f7fa;
          color: #585757;
          .mat-icon {
            border-color: #585757;
          }
        };
        .mat-icon {
          margin-top: 0.2rem;
          width: 12px;
          height: 12px;
          border: 3px solid #ffffff;
          border-radius: 3px;
          margin-left: 0.5rem;
          margin-bottom: 5px;
          transition: all ease-in-out 0.2s;
        }
      }
    }

    .sections {
      display: flex;
      justify-content: space-between;
      padding: 90px 145px;
      .section-main {
        width: 350px;
        .sections-main-title{
          display: flex;
          align-items: center;
          color: #1c1c1c;
          line-height: 22px;
          font: {
            size: 25px;
            weight: 600;
          };
          h2 {
            margin-left: 1rem;
          }
        }
        .sections-main-text {
          color: #585757;
          line-height: 22px;
          font: {
            size: 15px;
          };
        }
      }
      .sections-links {
        display: flex;
        .section-links-item {
          width: 160px;
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
        ::ng-deep {
          .mat-list-base .mat-list-item .mat-list-item-content,
          .mat-list-base .mat-list-option .mat-list-item-content {
            transition: all ease-in-out 0.2s;
            cursor: pointer;
            padding: 0;
            &:hover {
              color: #24afb5;
            }
          }
        }
      }
    }

    .footer {
      height: 60px;
      background-color: #f7f7f7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 145px;
      .footer-links {
        display: flex;
        .footer-link {
          text-decoration: none;
          color: #969696;
          transition: all ease-in-out 0.2s;
          &:not(:last-child) {
            margin-right: 30px;
          }
          &:hover {
            color: #24afb5;
          }
        }
        .footer-social {
          margin-left: 5rem;
          a {
            margin-right: 1rem;
            svg {g {transition: all ease-in-out 0.2s;}}
            &:hover {
              svg {g {fill: #24afb5}}
            }
          }
        }
      }
    }
  }
}
