:host {
  .header {
    .medium-menu {
      display: none;
    }
    ::ng-deep {
      .mat-toolbar-row, .mat-toolbar-single-row.menu {
        height: auto;
        display: flex!important;
        justify-content: center;
        text-align: center;
        padding: 20px 0;
        background-color: #ffffff;
        .mat-list-item.menu-item {
          padding: 0 30px;
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          color: #1c1c1c;
          cursor: pointer;
          transition: all ease-in-out 0.3s;
          &:hover {
            color: #999999;
          }
          &.active {
            color: #24afb5;
          }
        }
        .menu-img {
          padding: 0 72px;
        }
      }
    }
  }
  .main-content {
    .log-page {
      height: 100vh;
      display: flex;
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      .log-part {
        height: 30vh;
        align-items: center;
        padding-left: 10vw;
        padding-top: 10vh;
        .mat-card.log-card {
          width: 445px;
          box-shadow: none;
          .mat-card-title {
            line-height: 60px;
            font: {
              size: 48px;
              weight: 700;
            }
          }
          .mat-card-subtitle {
            line-height: 30px;
            color: #585757;
            margin-top: 20px;
            font: {
              size: 20px;
              weight: 400;
            }
          }
          .mat-card-actions {
            .mat-form-field {
              width: 100%;
            }
            ::ng-deep {
              .mat-form-field-appearance-outline .mat-form-field-outline-thick {
                color: #24afb5;
              }
              .mat-form-field.mat-focused .mat-form-field-label{
                color: #24afb5;
              }
            }
            .subscribe-button {
              background-color: #24afb5;
              height: 50px;
              width: 130px;
              color: #ffffff;
              margin: 0;
              line-height: 26px;
              font: {
                size: 20px;
                weight: 500;
              };
              transition: all ease-in-out 0.4s;
              &:hover {
                background-color: #c6f7fa;
                color: #585757;
              }
            }
          }
          .mat-card-footer {
            color: #969696;
            padding: 0 8px;
            line-height: 18px;
            font: {
              size: 13px;
              weight: 400;
            }
          }
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50vw;
        height: 75vh;
      }
    }

    .section-star {
      width: 100%;
      height: 460px;
      text-align: center;
      border-bottom: 1px solid #dbdbdb;
      .star-ball {
        margin: 110px 0 30px;
      }
      .star-text {
        padding: 0 335px;
        line-height: 30px;
        font: {
          size: 20px;
          weight: 400;
        };
      }
    }

    .section-one-line {
      height: 500px;
      display: flex;
      justify-content: space-evenly;
      border-bottom: 1px solid #dbdbdb;
      .one-list {
        width: 450px;
        padding-top: 10px;
        .mat-list-item {
          display: initial;
          ::ng-deep {
            .mat-list-item-content {
              display: block;
              height: auto;
            }
            .one-list-title {
              display: flex;
              align-items: center;
              color: #1c1c1c;
              line-height: 32px;
              margin-top: 40px;
              font: {
                size: 24px;
                weight: 500;
              }
              img {
                margin-right: 15px;
              }
            }
            .one-list-text {
              margin-top: 10px;
              line-height: 22px;
              color: #545454;
              font: {
                size: 15px;
                weight: 400;
              }
            }
          }
        }
      }
      .img-wrapper {
        img.one-list-img {
          width: 635px;
          height: 400px;
        }
      }
    }

    .circle-statistic {
      width: 100%;
      height: 480px;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .circle {
        #chart {
          width: 340px;
          height: 300px;
        }
      }
      .points-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 30vw;
        .point-item {
          display: flex;
          margin: 0 auto;
          width: 50%;
          .point {
            background-color: #24afb5;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-top: 50px;
            &.two{background-color: #d3eff0;} &.tree{background-color: #dbdbdb;} &.four{background-color: #f7f7f7;}
          }
          .percent {
            margin-left: 20px;
            .percent-number {
              color: #1c1c1c;
              line-height: 46px;
              font: {
                size: 36px;
                weight: 700;
              }
            }
            .percent-name {
              color: #585757;
              font: {
                size: 15px;
              };
            }
          }
        }
      }
      .description {
        width: 30vw;
        color: #585757;
        line-height: 22px;
        font: {
          size: 15px;
          weight: 400;
        }
        .note {
          color: #969696;
          line-height: 18px;
          font: {
            size: 13px;
            weight: 400;
          }
        }
      }
    }

    .short {
      height: 100vh;
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      .short-content {
        margin: 3rem auto 0;
        width: 730px;
        text-align: center;
        .short-title {
          color: #1c1c1c;
          line-height: 60px;
          font: {
            size: 48px;
            weight: 700;
          };
        }
        .short-description {
          margin-top: 20px;
          color: #585757;
          line-height: 30px;
          font: {
            size: 20px;
            weight: 400;
          }
        }
        .images {
          margin-top: 60px;
          justify-content: space-between;
          display: flex;
        }
      }
      .short-img {
        width: 80%;
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
      }
    }

    .reviews {
      height: 615px;
      text-align: center;
      border-bottom: 1px solid #dbdbdb;
      .commas {
        margin-top: 100px;
      }
      .main {
        display: flex;
        margin: 35px 230px 0;
        align-items: center;
        .main-text {
          margin: 0 auto;
          width: 730px;
          color: #585757;
          line-height: 30px;
          font: {
            size: 20px;
            weight: 400;
          };
        }
        .mat-fab.mat-accent {
          background-color: #ffffff;
          color: #969696;
          box-shadow: 0 0 2px;
          transition: all ease-in-out 0.3s;
          &:hover {
            background-color: #999999;
            color: #545454;
          }
        }
      }
      .company {
        margin-top: 40px;
        color: #969696;
        font: {
          size: 50px;
        };
      }
      .person {
        margin-top: 30px;
        color: #1c1c1c;
        line-height: 26px;
        font: {
          size: 20px;
          weight: 600;
        };
      }
      .position {
        color: #585757;
        line-height: 22px;
        font: {
          size: 15px;
          weight: 400;
        }
      }
      .reviews-btn {
        margin-top: 40px;
        color: #24afb5;
        font: {
          size: 15px;
          weight: 600;
        }
      }
    }

    .cards {
      height: 670px;
      margin: auto;
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      .mat-card.card {
        width: 350px;
        height: 450px;
        border: 2px solid #dbdbdb;
        box-shadow: none;
        border-radius: 6px;
        .mat-card-title.card-title {
          color: #1c1c1c;
          line-height: 26px;
          margin-top: 50px;
          font: {
            size: 20px;
            weight: 600;
          }
        }
        .mat-card-content {
          .price {
            color: #1c1c1c;
            line-height: 60px;
            margin: 0;
            margin-bottom: 20px;
            font: {
              size: 48px;
              weight: 700;
            }
            small {
              color: #585757;
              line-height: 22px;
              font: {
                size: 15px;
                weight: 400;
              };
            }
          }
          .mat-list-item {
            color: #585757;
            line-height: 30px;
            margin-top: 10px;
            font: {
              size: 15px;
              weight: 400;
            };
          }
        }
        .mat-card-actions {
          align-items: center;
          button {
            width: 140px;
            height: 50px;
            border: 1px solid #dbdbdb;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 1px rgba(0, 0, 0, 0.03), 0 1px 1px rgba(0, 0, 0, 0.04);
            line-height: 26px;
            color: #1c1c1c;
            letter-spacing: 0.2px;
            font: {
              size: 20px;
              weight: 500;
            };
            mat-icon {
              width: 12px;
              height: 12px;
              border: 3px solid #969696;
              border-radius: 6px;
              margin-left: 15px;
              margin-bottom: 5px;
            }
            &.popular-btn {
              background-color: #24afb5;
              color: #ffffff;
              transition: all ease-in-out 0.4s;
              &:hover {
                background-color: #c6f7fa;
                color: #585757;
              };
              mat-icon {
                border-color: #ffffff;
              }
            }
          }
        }
        .mat-card-footer {
          color: #969696;
          line-height: 18px;
          padding: 30px 60px 0;
          font: {
            size: 13px;
            weight: 400;
          };
        }
        &.popular-card {
          border-color: #24afb5;
          span.popular-box {
            position: absolute;
            top: -1px;
            right: -1px;
            background-color: #24afb5;
            color: #ffffff;
            padding: 2px 6px;
            border-radius: 6px 0 6px 6px;
          }
        }
      }
    }

    .subscribe {
      height: 310px;
      border-bottom: 1px solid #dbdbdb;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .subscribe-content {
        .subscribe-content-title {
          color: #1c1c1c;
          line-height: 32px;
          font: {
            size: 24px;
            weight: 600;
          };
        }
        .subscribe-content-text {
          color: #585757;
          line-height: 22px;
          font: {
            size: 15px;
            weight: 400;
          };
        }
      }
      .form-subscribe {
        .form-subscribe-input {
          width: 390px;
        }
        .form-subscribe-btn {
          background-color: #24afb5;
          color: #ffffff;
          line-height: 26px;
          padding: 11px 16px;
          margin-left: 20px;
          font: {
            size: 20px;
            weight: 500;
          };
          transition: all ease-in-out 0.4s;
          &:hover {
            background-color: #c6f7fa;
            color: #585757;
          }
        }
        ::ng-deep {
          .form-subscribe-input.mat-form-field-appearance-outline .mat-form-field-outline-thick {
            color: #24afb5;
          }
          .form-subscribe-input.mat-form-field.mat-focused .mat-form-field-label{
            color: #24afb5;
            padding-bottom: 5px;
          }
          .form-subscribe-input.mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 0.5rem 0 1rem 0;
          }
        }
      }
    }

    .footer {
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      padding: 70px 0 100px;
      .footer-logo {
        width: 50px;
        height: 50px;
      }
      .footer-links-wrapper {
        position: relative;
        width: 400px;
        .footer-links {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .mat-list-item.menu-item {
            font: {
              size: 15px;
              weight: 600;
            };
            a {
              text-decoration: none;
              color: #1c1c1c;
              transition: all ease-in-out 0.2s;
              &:hover {
                color: #999999;
              }
            }
          }
        }
        .copyright {
          width: 100%;
          position: absolute;
          margin: 70px 0;
        }
      }
      .footer-social {
        a {
          margin-left: 15px;
          svg {g {transition: all ease-in-out 0.2s;}}
          &:hover {
            svg {g {fill: #24afb5}}
          }
        }
      }
    }
  }

  @keyframes expand{
    from {height:0}
    to {height:450px}
  }

  @media screen and (max-width: 768px) {
    .header {
      .mat-toolbar-row, .mat-toolbar-single-row.menu {
        display: none;
        .menu-img {
          display: none!important;
        }
      }
      .medium-menu {
        display: flex;
        background-color: #ffffff;
        align-items: center;
        justify-content: space-between;
        &>* {
          cursor: pointer;
          transition: all ease-in-out 0.2s;
        }
      }
    }
    .main-content {
      .log-page {
        height: auto;
        display: block;
        padding-bottom: 2rem;
        text-align: start;
        .log-part {
          height: auto;
          //position: static;
          padding: 0 1rem;
          .mat-card.log-card {
            width: auto;
          }
        }
        img {
          width: 100%;
          height: auto;
          position: static;
          padding: 3rem 0 3rem 3rem;
        }
      }

      .section-star {
        padding: 2rem 0;
        height: auto;
        .star-ball {
          margin: 0;
          margin-bottom: 2rem;
        }
        .star-text {
          padding: 0 2rem;
        }
      }

      .section-one-line {
        height: auto;
        display: block;
        text-align: start;
        .one-list {
          width: auto;
        }
        .img-wrapper {
          text-align: center;
          img.one-list-img {
            width: auto;
            margin: 0 0 3rem;
          }
        }
      }

      .circle-statistic {
        height: auto;
        display: block;
        .circle {
          #chart {
            width: auto;
            text-align: center;
            margin-top: 2rem;
          }
        }
        .points-list {
          width: auto;
          justify-content: end;
          .point-item {
            padding-left: 5rem;
          }
        }
        .description {
          width: auto;
          text-align: start;
          padding: 1rem;
        }
      }

      .short {
        height: auto;
        position: relative;
        .short-content {
          width: auto;
          margin: 2rem 1rem;
          padding-bottom: 10rem;
          .images {
            flex-wrap: wrap;
          }
        }
        .short-img {
          position: absolute;
          width: 30rem;
        }
      }

      .reviews {
        height: auto;
        .commas {
          margin-top: 2rem;
        }
        .main {
          margin: 0;
          padding: 2rem 1rem;
          button {
            display: none;
          }
        }
        .company {
          margin: 0;
        }
        .reviews-btn {
          margin-bottom: 2rem;
        }
      }

      .cards {
        height: auto;
        &>* {
          margin: 1rem 0;
        }
      }

      .subscribe {
        height: auto;
        display: block;
        padding: 2rem;
        text-align: start;
        .form-subscribe {
          .form-subscribe-btn {
            margin: 0;
            margin-left: 2rem;
          }
        }
      }

      .footer {
        display: block;
        text-align: center;
        padding: 2rem 1rem;
        .footer-links-wrapper {
          width: auto;
          text-align: center;
          .footer-links {
            padding: 1rem 0;
            justify-content: center;
            .mat-list-item.menu-item {
              padding-top: 1rem;
              width: 33%;
            }
          }
          .copyright {
            margin: 0;
            padding: 2rem 0;
            position: static;
          }
        }
        .footer-social {
          padding-bottom: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    .main-content {
      .section-one-line {
        .img-wrapper {
          img.one-list-img {
            width: 80vw;
            height: auto;
          }
        }
      }

      .circle-statistic {
        .points-list {
          .point-item {
            padding-left: 2rem;
          }
        }
      }

      .short {
        .short-content {
          .images {
            margin: 2rem;
          }
        }
        .short-img {
          width: 90vw;
        }
      }

      .subscribe {
        .form-subscribe {
          .form-subscribe-input {
            width: 100%;
          }
          .form-subscribe-btn {
            margin: 0;
          }
        }
      }
    }
  }
}


