<div class="header">
  <mat-toolbar class="menu">
    <mat-list-item role="listitem" class="menu-item"><a href="#">First Link</a></mat-list-item>
    <mat-list-item role="listitem" class="menu-item"><a href="#">Second Link</a></mat-list-item>
    <mat-list-item role="listitem" class="menu-item"><a href="#">Third Link</a></mat-list-item>
    <span class="menu-img"><img src="../assets/img/ball.png" alt="#"></span>
    <mat-list-item role="listitem" class="menu-item"><a href="#">Fourth Link</a></mat-list-item>
    <mat-list-item role="listitem" class="menu-item"><a href="#">Fifth Link</a></mat-list-item>
    <mat-list-item role="listitem" class="menu-item"><a href="#">Sixth Link</a></mat-list-item>
  </mat-toolbar>
</div>

<div class="main">
  <app-version-first></app-version-first>
</div>
