<div class="header">
  <mat-toolbar class="menu">
    <mat-list-item role="listitem" class="menu-item" routerLinkActive="active" [routerLink]="['/version-1/first-page']">First Link</mat-list-item>
    <mat-list-item role="listitem" class="menu-item" routerLinkActive="active" [routerLink]="['/version-1/second-page']">Second Link</mat-list-item>
    <mat-list-item role="listitem" class="menu-item" routerLinkActive="active" [routerLink]="['/version-1/second-page']">Third Link</mat-list-item>
    <span class="menu-img"><img src="../assets/img/logo.png" alt="#"></span>
    <mat-list-item role="listitem" class="menu-item">Fourth Link</mat-list-item>
    <mat-list-item role="listitem" class="menu-item">Fifth Link</mat-list-item>
    <mat-list-item role="listitem" class="menu-item">Sixth Link</mat-list-item>
  </mat-toolbar>
</div>

<div class="main">
  <router-outlet></router-outlet>
<!--  <app-version-one></app-version-one>-->
</div>
