.header {
  &.upper {
    height: 45px;
    display: flex;
    justify-content: space-between;
    background-color: #24afb5;
    align-items: center;
    .versions {
      margin-left: 1rem;
      color: #ffffff;
    }
  }
}


